.msg-list {
  .msg-list-item {
    @include display-flex;
    padding: 8px 16px;
    border-bottom: 1px solid $gray-200;
    &:hover {
      color: theme-color(secondary);
      background-color: $gray-100;
    }
    .thumb-circle {
      color: $white;
      position: relative;
    }
    .desc {
      @include display-flex;
      flex: 1;
      padding-left: 8px;
      .msg-title {
        @include display-flex;
        margin-bottom: 4px;
        font-weight: 600;
        width: 100%;
        .text-truncate {
          flex: 1;
          padding-right: 8px;
          font-weight: 600;
        }
        .time {
          font-size: 12px;
          margin-left: auto;
        }
      }
      .msg-content {
        display: flex;
        align-items: center;
        max-width: 100%;
        .msg-number {
          @include display-flex;
          background-color: $blue;
          color: $white;
          justify-content: center;
          min-width: 20px;
          min-height: 20px;
          border-radius: 50%;
          font-size: 10px;
        }
      }
    }
  }
}

#header .msg-list .msg-list-item .desc {
  @include flex(calc(100% - 40px));
}